.bgWrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -100;
    // background-image: linear-gradient(to bottom, #99c4d3, #FFFFFF);
}

.word {
    margin-top: 70rpx;
    margin-left: 40rpx;
    height: 80rpx;
    font-size: 64rpx;
    // font-family: 'Microsoft YaHei', 'Times New Roman', Times, serif;
    font-weight: 700;
    line-height: 70rpx;
    position: relative;

    .notebookBtn {
        position: absolute;
        top: 0;
        right: 10rpx;
        width: 80rpx;
        height: 80rpx;
        font-size: 46rpx;
        color: #f0f0f0;
        line-height: 80rpx;
        text-align: center;
    }

    .icon-addToNB-yes {
        color: #fb6a00;
    }

    .wasTaped-bottom {
        color: #ffffff;
    }

    .wasTaped-bottom1 {
        filter: grayscale(20%);
    }
}

.pron {
    margin-top: 20rpx;
    margin-left: 45rpx;
    height: 40rpx;
    line-height: 40rpx;
    font-size: 30rpx;
    // font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    // color: #f6f6f6;
    color: #ffffff;
}

.tagContainer {
    width: 670rpx;
    margin-top: 10rpx;
    margin-bottom: 40rpx;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;

    .tag {
        margin-right: 10rpx;
        height: 40rpx;
        line-height: 40rpx;
        font-size: 26rpx;
        border-radius: 20rpx;
        background-color: rgba(0, 0, 0, 0.2);
        color: #e6e6e6;
        padding: 0rpx 20rpx;
        margin-top: 10rpx;
    }
}

.contentCard {
    width: 95%;
    margin-top: 20rpx;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20rpx;
    box-shadow: 2rpx 2rpx 10rpx rgba(0, 0, 0, 0.1);

    .title {
        width: 655rpx;
        margin-top: 26rpx;
        margin-left: auto;
        margin-right: auto;
        font-size: 36rpx;
        line-height: 60rpx;
        font-weight: 700;
    }

    .contentWrapper {
        width: 650rpx;
        margin-top: 14rpx;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 50rpx;

        .content {
            font-size: 32rpx;
            // font-family: Arial, Helvetica, sans-serif;
            color: #757575;
            // color: #515151;
            margin-bottom: 10rpx;
            // font-weight: 600;
            line-height: 40rpx;

            .exchangeName {
                display: inline-block;
                width: 220rpx;
            }

            .exchangeWord {
                display: inline-block;
            }

            .pos {
                font-size: 28rpx;
                color: #a0a0a0;
                margin-right: 10rpx;
            }
        }
    }
}

.last {
    margin-bottom: 50rpx;
}